::placeholder {
    padding-left: 5px;
    color: #999;
}

.comment {
    border-top: 1px solid lightgray;
    padding: 10px 5px 0px 5px;
    display: flex;
    align-items: center;
}

.comment-input-container {
    width: 89%;
    float: right;
    padding: 5px;
    border-radius: 25px;
    border: 1px solid #cccccc;
    background: #F4F4F4;
    display: flex;
    justify-content: space-around;
}

.comment-input {
    outline-width: 0;
    font-size: 14px;
    border: none;
    width: 100%;
    background: none;
}


.comment-crop {
    border-radius: 50%;
    overflow: hidden;
    height: 25px;
    width: 25px;
    margin-right: 8px;
}

.comment-placeholder {
    display: inline;
    margin: 0 auto;

}

.comment-icon-container {
    position: relative;
    width: 165px;
    margin-top: 5px;
}

.comment-option-icon {
    width: 17.5px;
    height: 17.5px;
    margin-left: 10px;
}

.commentContentContainer {
    display: flex;
    margin-bottom: 15px;
}

.commentContentBodyContainer {
    background: #F4F4F4;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 2.5px;
}

.commentProfileCrop {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 5px;
}

.commentProfileCrop img {
    height: 100%;
    width: 100%;
}

.commentContentAuthor {
    font-size: 14px;
    color: #3C5A99;
    font-weight: 600;
}

.commentContentBody {
    font-size: 14px;
}

.post-comments-container {
    margin: 0 auto;
    padding: 0px;
}

.commentReactions {
    font-size: 12px;
    margin-left: 10px;
}


