.modalContainer {
    background: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    overflow: hidden;
}

.modalFormContainer {
    display: flex;
    justify-content: left;
    width: 100%;
    overflow: contain;
    align-content: center;
}

.modalFormContainer form {
    width: 75%;
}

.modalHeader {
    padding:7.5px;
    font-size: 11px;
    font-weight: 500;
}

.modalCancel {
    padding:7.5px;
    font-size: 11px;
}

.modalHeadContainer {
    display: flex;
    justify-content: space-between;
    background: #F4F4F4;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.modalTextInput {
    font-size: 20px;
    padding: 0px;
    padding-top: 15px;
    width: 100%;
    border: none;
    resize: none;
    outline: none;
}

.modalShare {
    background: #F4F4F4;
    border-top: 1px solid lightgray;
}

.modalShare ul {
    padding: 0px;
}

.modalShare {
    padding: 0 10px 10px 10px;
}

.modalShare li {
    list-style-type: none;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
}

.modalShareDropdown {
    border: 1px solid lightgray;
    padding: 3px 0;
    display: flex;
    align-items: center;
    font-size: 11px;
    padding-left: 7.5px;
}

.modalShareDropdown img {
    height: 15px;
    width: 15px;
    padding-right: 5px;
}

.modalShareButtons {
    display: flex;
    justify-content: center;
}

.modalSpacer {
    width: 92.5%;
    border-bottom: 1px solid lightgray;
    padding: 5px;
    margin: 0 auto;
}

.shareButton {
    width: 90%;
    background: #4167B2;
    color: white;
    border-radius: 3px;
    padding: 5px;
    font-weight: 500;
}

.shareButton:hover {
    background: #305591;
    cursor: pointer;
}

.shareDropdown {
    border: 1px solid lightgray;
    font-size: 11px;
    width: 20%;
    font-weight: 500;
    margin-right: 7.5px;
    display: flex;
    border-radius: 3px;
    padding: 0 3.5px;
    padding-right: 5px;
    align-items: center;
}

.dropdownIcon {
    height: 20px;
    width: 20px;
}

.optionsLeft {
    display: flex;
    align-items: center;
}

.select {
    height: 20px;
    width: 20px;
    margin-right: 3px;
}

.modalShareOptions {
    height: 40px;
    width: 40px;
    margin-right: 3px;
}


.modalCover {
    border-radius: 50%;
    overflow: hidden;
    height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.modalImage {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}



.modalBackground {
    background: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    display: none;
}

.modalContainer {
    z-index: 5;
    position: relative;
    overflow: hidden;
}