

.feed-body {
    background: #E9EBEE;
    min-height: 1047px;
    // margin: 0 auto;
    // position: relative;
    // box-sizing: border-box;
}

.post-create-input {
    width: 80%;
    outline-width: 0;
    overflow: hidden;
    border: none;
    resize: none;
    padding-top: 15px;
    font-size: 12px;
    // padding: 10px 0px 10px 0px;
}

.post-input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid lightgray;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 10px;
}

// .post-profile {
//     height: 30px;
//     width: 30px;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     padding-right: 5px;
// }

.post-widget {
    position: relative;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 0 auto;
}

.post-form {
    // border: 1px solid lightgray;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
}

.feed-main-body {
    width: 85%;
    // flex-shrink: 0;
    // border: 1px solid blue;
}

.main-container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
    // border: 1px solid red;
}

.feed-index {
    margin-top: 10px;
}

.spacer {
    padding: 25px;
}

.create-post-header {
    display: flex;
    justify-content: flex-start;
    background: #efefef;
    border-bottom: 1px solid lightgray;
    position: relative;
    padding: 5px;
    padding-left: 20px;
    margin: 0px;
    border-radius: 5px 5px 0px 0px;
    
}

.create-post-header li{
    font-size: 10px;
    color: #666;
    font-weight: bold;
    overflow: hidden;
    padding: 2px 7px 2px 7px;
    border-right: 1px solid lightgray;
}

.create-post-header a {
    text-decoration: none;
    color:#3C5A99;
}



.create-post-options {
    display: flex;
    justify-content: flex-start;
    // border: 1px solid lightgray;
    padding: 5px;
    margin: 5px;
    // padding-left: 5px;
}

.create-post-option {
    background: #F4F4F4;
    border-radius: 25px;
    padding: 5px 10px 5px 10px;
    border: none;
    margin-right: 5px;
    list-style-type: none;
    font-size: 10px;
    font-weight: bold;
    color: #666;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.create-post-icon {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

// Feed Navigation Bar --------------------------------------

.feed-navigation-body {
// border: 1px solid red;
margin-right: 5px;
}
// 
.navigation-container li, .navigation-profile {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    font-size: 11px;
    margin: 5px;
    margin-top: 0px;
    padding: 3px;
    // border: 1px solid red;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px;
}

.navigation-container li:hover, .navigation-profile:hover {
    background: #F8F8F8;
    // border: 1px solid #D5D5D5;
    cursor: pointer;
}

.navigation-profile a{
    text-decoration: none;
    color: black;
}

.navigation-container li {

    // margin-bottom: 3px;
}

.nav-profile-crop{
    border-radius: 50%;
        height: 15px;
    width: 15px;
        overflow: hidden;
    margin-right: 5px;
}


.navigation-title {
    display: flex;
    justify-content: space-between;
    // border: 1px solid blue;
    width: 170px;
    // align-items: center;
}

.nav-expand {
    position: relative;
    top: -7.5px;
    font-size: 17.5px;
    font-weight: bold;
    color: lightslategray;
    height: 15px;
}


// .navigation-container p {
//     position: relative;
// }

.navigation-container img{
    height: 15px;
    width: 15px;
    padding-right: 5px;
}

.navigation-container {
    padding: 0px;
}


.nav-target {
    background: #F8F8F8;
    border: 1px solid #D5D5D5;
    font-weight: bold;
}


// Feed Widget Bar --------------------------------------
.feed-widget-container {
    width: 500px;
    // border: 1px solid black;
    margin-left: 10px;
}