.language-list, .footer-links {
    display: flex;
    list-style-type: none;
    float: left;
    margin: 0 auto;
    margin-top: 5px;
}

.language-list li, .footer-links li {
    font-size: 10px;
    padding: 5px;
    line-height: 1.34;
}

// .footer-links li {
//     flex-wrap: wrap;
// }

.footer-links {
    flex-wrap: wrap;
}

.footer {
    // width: 980px;
    height: 137px;
    margin: 0 auto;
}

.linebreak {
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
    width: 980px;
    display: block;
}