

.signup-container {
    background: rgb(245,246,247);
    // width: 100%;
    // position: absolute;
    height: 500px;
}

.signup-form {
    // float: right;
    padding: 10px;
    // border: 1px solid black;
    margin: 0 auto;
}

#home_global {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.labels {
    color: white;
    font-size: 12px;
}

.input_long {
    border-radius: 5px;
    border:1px solid #cccccc;
    padding: 5px;
    margin: 5px;
    font-size: 15px;
    width: 292px;
    color: lightgray;
}

.login-input {
    border-radius: 1px;
    border:1px solid black; 
}

.input {
    border-radius: 5px;
    border:1px solid #cccccc;
    padding: 5px;
    margin: 5px;
    font-size: 15px;
    width: 135px;
    
}

// body {
//     background: rgb(196,204,224);
// }