.search-bar {
    position: relative;
    float: left;
    box-sizing: border-box;
    border: 1px solid #3C5A99;
    width: 448px;
    min-width: 150px;
    overflow: hidden;
    position: relative;
    height: 25px;
    border-radius: 3px;
    padding: 5px;
}

.search-bar-container {
    display: flex;
    justify-content: space-between;

}

.login-name {
    display: flex;
    align-items: center;
}

.navCrop {
    border-radius: 50px;
    height: 24px;
    width: 24px;
    overflow: hidden;
    margin-right: 5px;
    border: .3px solid black;
}

.navProfile {
    height: 100%;
    width: 100%;

}

.nav-logo img{
    height: 25px;
    width: 25px;
    padding-right: 7.5px;
}

.session-wrapper {
    background: #3C5A99;
}

.login-form {
    background: #3C5A99;
    margin: 0px;
    height: 82px;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    border-bottom: 1px solid darkblue;
    // position: fixed;
    margin: 0 auto;
    top: 0;
    width: 980px;
    box-sizing: border-box;
}

.loggedin-nav {
    background: rgb(65, 103, 178);
    margin: 0px;
    height: 30px;
    display: flex;
    padding: 5px;
    align-content: center;
    border-bottom: 1px solid rgb(57, 57, 163);
    position: fixed;
    align-items: center;
    width: 100%;
    z-index: 1;

}

.loggedin-nav-content-container {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.login-link-container {
    display: flex;
    padding-right: 15px;
    align-items: center;
    height: 22.5px;
}

.login-link {
    border-right: 1px solid rgba(29,33,47,.25);
    padding: 0px 14px;
    font-size: 9px;
    font-weight: 500;
    height: 15px;
}

.login-link:hover {
    background: rgba(29,33,47,.25);
    padding: 5px 14px ;
}

.login-link a{
    text-decoration: none;
    font-size: 12px;
    color: white;
}

.nav-icon-options img {
    height: 22px;
    width: 22.5px;
    padding-right: 14px;
}

.nav-icon-option-extras img {
    height: 22px;
    width: 22.5px;
    padding-right: 15px;
}

.nav-icon-option-extras {
    display: flex;
    align-items: center;
}

.navLast {
    padding-right: 0px;
}


.navIconsAll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    cursor: pointer;
}

.nav-right-container {
    display: flex;
    align-items: center;
}

.space {
    height: 15px;
    border-left: 1px solid rgba(29,33,47,.25);
    margin-right: 14px;
}

.navDropdown {
    border: 1px solid #bbb;
    width: 215px;
    position: absolute;
    top: 37.5px;
    right: 15px;
    background: white;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.3);
    padding: 0;
    overflow: hidden;
    // display: none;
}

.navDropdownListItem {
    list-style-type: none;
    font-size: 12px;
    font-weight: 200;
    padding: 5px 35px;
}

.navDropdownListItem:hover {
    color: white;
    background: #3C5A99;
}


.menuDropdownTrigger {
    position: relative;
}

.navDropdownContainer {
    padding: 0;
    margin: 6.5px 0;
}