// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post-widget {

}

.posts {
    background: white;
    list-style-type: none;
    padding: 5px;
    margin: 10px;
    border-radius: 3px;
    border: 1px solid lightgray;

}

.feed-posts {
    display: flex;
    flex-direction: column-reverse;
}