// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.date {
    font-weight: normal;
    font-size: 10px;
    color: gray;
    position: absolute;
    margin-top: 18px;
}




.posts {
    background: white;
    list-style-type: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid lightgray;

}

.feed-posts {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0px;
    padding: 0px;
}

.linebreak {
    border-top: 1px solid lightgray;
    width: 44px;
}

.post-author a {
    text-decoration: none;
    color: #3C5A99;
    font-weight: bold;
    font-size: 12px;
    padding-top: 2px;

}

.post-author h5{
    padding: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.post-author {
    padding-top: 5px;
    display: flex;
    justify-content: flex-start;
    margin: 0;

}

.post-content {
    font-size: 14px;
    padding: 5px;
    padding-bottom: 10px;
}

.post-options {
    display: flex;
    justify-content: space-evenly;
    font-size: 11px;
    color: #4F4F4F;
    padding: 5px 0;
    // padding: 10px 12px 10px 12px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    height: 100%;
    margin-bottom: 7.5px;
}

.post-options span {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 8px 8px 8px 8px;
    width: 100%;
    height: 100%;
}

.post-author a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.post-options span:hover {
    background: #F4F4F4;
    border-radius: 5px;
}

.post-options img {
    margin-right: 5px;
}

.post_icon{
    width: 20px;
    height: 20px;
}

.profile-crop, .post-profile-crop, .comment-crop {
    height: 30px;
    width: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 8px;
}

.profile-pic, .post-profile, .comment-placeholder, .nav-profile {
    height: 100%;
    margin: 0 auto;
    width: 100%;
    // margin-right: 8px;
}


.options {
    float: right;
    font-weight: bold;
    line-height: 19px;
    cursor: pointer;
    letter-spacing: -.5px;
    margin-right: 5px;
}

.options-dropdown-trigger {
    text-decoration: none;
    color: #666;
    font-weight: 900;
    text-align: right;
    font-size: 20px;
}

.options a:hover {
    color: black;
}
// PostCreateWidget ---------------------

