.placeholder {
    width: 100%;
    height: 250px;
}

.profile-content {
    min-height: 1047px;
    width: 851px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    background: #E9EBEE;
}

.profile-main-body {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.profile-body {
    background: #E9EBEE;
    width: 100%;
}

.profile-header {
    background: white;
    margin: 0 auto;
}

.profile-nav {
    list-style-type: none;
    display: flex;
    align-items: vertical;
    justify-content: center;
    padding: 0px 5px;
    margin: 0px;
    margin-left: 201px;
    margin-bottom: 10px;
}

.profile-nav li {
    border-left: 1px solid lightgray;
    padding: 10px 17px;
    font-size: 14px;
}

.last {
    border-right: 1px solid lightgray;
}

.profile-nav a {
    color: #4167B2;
    font-weight: bold;
}

.profile-nav-target a {
    color: #666;
}

.profile-nav a {
    text-decoration: none;
}

.profilePictureCrop {
    border-radius: 100px;
    overflow: hidden;
    height: 160px;
    width: 160px;
    border: 4px solid white;
}

.profilePicture {
    height: 100%;
    width: 100%;
}

.profile-header {
    position: relative;
}

.profileInfoContainer {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 15px;
    left: 20px;
}

.profileInfoContainer:after {
    content: ' ';
    position: absolute;
    z-index: 0;
    height: 167.5px;
    width: 167.5px;
    // bottom: 1px;
    left: -1px;
    border-radius: 100px;
    border: 1px solid lightgray;
}

.profileName {
    color: white;
    font-size: 24px;
    margin-top: 70px;
    margin-left: 20px;
}