.widget-main-body {
    margin-right: 10px;
    width: 350px;

}

.widget-header-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.bio-header {
    font-size: 16px;
}

.bio-header-container {
    display: flex;
    align-items: center;
}

// Bio ------------------------------------

.bio-widget {
    background: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px;
}

.bio-info, .bio-follow-text {
    color: #1D2129;
    font-size: 12px;
    text-align: center; 
}

.add-bio-button {
    color: #3578E3;
    font-size: 12px;
    margin: 4px 24px 12px;
    text-align: center; 
}

.add-bio-button:hover {
    cursor: pointer;
}

.bio-content-container, .bio-showcase-container {
    display: flex;
    flex-direction: column;
}

.bio-header-icon {
    height: 20px;
    width: 20px;
}

.bio-follow-icon {
    height: 16px;
    width: 16px;
    margin-right: 8px;
}

.bio-showcase-icon {
    height: 24px;
    width: 24px;
}

.bio-follow-container {
    display: flex;
    align-items: center;
}



// Footer ------------------------------------
.widget-footer li {
    list-style-type: none;
    color: gray;
    font-size: 10px;
    padding-right: 5px;
}

.widget-footer ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 10px;
}

// Language ------------------------------------

.widget-language {
    background: white;
    border-radius: 3px;
}

.widget-language ul {
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 10px;
}

.widget-language li {
    list-style-type: none;
    color: gray;
    font-size: 10px;
    padding-right: 5px;
}




