.widget-main-body {
    margin-right: 10px;
    width: 350px;

}

.widget-header-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.bio-header {
    font-size: 16px;
}

.bio-header-container {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}

// Bio ------------------------------------

.bio-widget {
    background: white;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    padding: 10px;
}

.bio-info, .bio-follow-text {
    color: #1D2129;
    font-size: 12px;
    text-align: center; 
}

.add-bio-button {
    color: #3578E3;
    font-size: 12px;
    margin: 4px 24px 12px;
    text-align: center; 
}

.add-bio-button:hover {
    cursor: pointer;
}

.bio-content-container, .bio-showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio-content-container {
    padding-bottom: 8px;
    border-bottom: 1px solid #ebedf0;
    line-height: 1.5;
}


.bio-showcase-container {
    padding-top: 8px;
    border-top: 1px solid #ebedf0;
    color: #1C1E21;
    text-justify: auto;
}

.bio-header-icon {
    height: 20px;
    width: 20px;
    margin-bottom: 5px;
}

.bio-follow-icon {
    height: 16px;
    width: 16px;
    margin-right: 8px;
}

.bio-showcase-icon {
    height: 24px;
    width: 24px;
    margin-bottom: 5px;
}

.bio-follow-container {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 4px 0;
}



// Footer ------------------------------------
.widget-footer li {
    list-style-type: none;
    color: gray;
    font-size: 12px;
    padding-right: 5px;
}

.widget-footer ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 10px;
}

// Language ------------------------------------

.widget-language {
    background: white;
    border-radius: 3px;
}

.widget-language ul {
    border: 1px solid #dddfe2;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 10px;
}

.widget-language li {
    list-style-type: none;
    color: gray;
    font-size: 12px;
    padding-right: 5px;
}




